*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/modules.xml
/.idea/misc.xml
.DS_Store
/build
/captures
/openCVLibrary310/build
/openCVLibrary310/intermediates
/openCVLibrary310/generated/


app/libs/
/openCVLibrary310/build/intermediates/incremental/mergeReleaseAssets/merger.xml
/openCVLibrary310/build/intermediates/incremental/mergeReleaseShaders/merger.xml
/openCVLibrary310/build/intermediates/incremental/packageReleaseResources/merger.xml
/openCVLibrary310/build/intermediates/incremental/mergeReleaseJniLibFolders/merger.xml
/openCVLibrary310/build/intermediates/bundles/release/res/values/values.xml
/openCVLibrary310/build/intermediates/bundles/release/AndroidManifest.xml
/openCVLibrary310/build/intermediates/bundles/release/aapt/AndroidManifest.xml
