*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/modules.xml
/.idea/misc.xml
.DS_Store
/build
/captures
/openCVLibrary310/build
/openCVLibrary310/intermediates
/openCVLibrary310/generated/

app/libs/
